.footer {
  position: relative;
  color: aliceblue;
  font-size: 16px !important;
  font-weight: 10;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  z-index: 100;
  padding:30px 100px 30px 100px;
  font-family: 'DM Sans', sans-serif;
}
.footer .footer_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .footer_2{
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
}
.footer .footer_2 p{
  padding:10px;
}
.foot1{
   display: flex;
   width: 400px;
   justify-content: space-around;
}
.footer .section p {
  text-transform: uppercase;
}
.sect p{
  justify-content: left !important;
}
.sect img{
  width:300px;
}
.sec{
  display: flex;
  gap:10px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 468px) {
  .footer {
    font-size: 12px !important;
  }
}
@media (max-width:770px)
{
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
  }
  .foot1{
    
    align-items: center;
    
  }
  .footer_1{
    flex-direction: column;
    flex-wrap: nowrap !important;

  }
}
@media (max-width:320px)
{
  .section{
  flex-wrap: wrap;
  width: 200px;
  font-size: 10px;
  
  }
  .foot1{
    align-items: center;
  }
}
