/* .teamcard:nth-child(1) {
  transform: rotate(-5deg);
  transition: transform 0.3s ease;
}

.teamcard:nth-child(2) {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.teamcard:nth-child(3) {
  transform: rotate(15deg);
  transition: transform 0.3s ease;
} */

/* .teamcard:hover {
  transform: rotate(0deg);
} */

.team-cont{
  justify-content: space-between;
}
.card_email
{
  font-size: 12px;
}
.card_name{
  font-size: 14px !important;
}

.card_subname{
  font-size: 12px;
}

.poshya{
  background-image: url("../../assets/poshya.jpeg");
}

.team-cont .team-card p {

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  /* height: 70px; */
  border-radius: 10px;
  font-family: 'DM Sans', sans-serif;
  
}
.team-cont .team-card .sub_name{
  font-size: 12px;
  color: grey;
}
.team-card {
  border-radius: 10px;
}
.team {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/stars1.jpg");
  gap: 50px;
  /* padding: 0px 90px; */
  /* padding:0px; */
}

.team-cont {
  
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 50px; */
  /* padding: 0px 70px 50px 70px; */
  padding:0px 50px 50px 50px;
}
.team-card img {
  width: 220px;
  height: 220px;
  padding: 10px;
}

.team-card .teamimage1 {
  width: 200px !important;
  height: 120px !important;
}

@media (max-width:1024px)
{
  .team-cont{
    padding: 0px 0px 50px 0px ;
  }
}

@media (max-width: 767px) {
  .animate-character {
    font-size: 40px;
  }
  .team-cont{
    padding: 0px 0px 50px 0px;
  }
  
}

@media (max-width : 1200px)
{
  .team-cont {
    padding: 0px 40px 40px 20px;
    justify-content: center;
  }
}


/* *************Container ******* */

@media (min-width: 576px) {
  .team {
      /* width: 540px; */
      padding:0px;
  }
}
@media (min-width: 768px) {
  .team {
      /* width: 720px; */
      padding:0px 5px;
  }
}
@media (min-width: 992px) {
  .team {
      /* width: 960px; */
      padding:0px 10px;
  }
}
@media (min-width: 1200px) {
  .team {
      /* width: 1140px; */
      padding:0px 100px;
      position: relative;
  }
}

