.contact {
  min-height: auto;
  padding-bottom: 7rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
}
.container.contact-page .text-zone {
  position: absolute;
  left: 10%;
  top: 60%;
  tranform: translateY(-50%);
  width: 55%;
  padding: 10px;
  vertical-align: middle;
  display: table-cell;
  max-height: 100%;
}
.contact h2 {
  display: inline-block;
  left: 50%;
  tranform: translateX(-50%);
}
.contact form {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.2rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea:focus{
  border:0.1rem solid #ff1361;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 90%;
  font-size: 1.0rem;
  color: rgb(231, 227, 227);
  background: transparent;
  border-radius: 0.3rem;
  border: 0.1rem solid hsl(343, 12%, 89%);
  padding: 10px; /* Add this line */
  box-sizing: border-box; /* Add this line */
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: white;
  font-weight: 100;
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: blueviolet;
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus + .focus,
.contact form .input-box .input-field input:valid + .focus,
.contact form .textarea-field textarea:focus + .focus,
.contact form .textarea-field textarea:valid + .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}
.contact form .textarea-field textarea {
  resize: none;
}
.contact form .btn-box.btns .btn {
  cursor: pointer;
  background-color: blueviolet;
  border: none;
  height: 40px;
  width: 70px;
  color: white;
  border-radius: 30%;
}
.contact form .btn-box.btns .btn:hover {
  background-color: rgb(100, 211, 100);
}
